body{
    background-image: url("css.jpg");
    background-size: 10%;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}

ol{
    border: 2px solid white;
    color: white;
    margin: 10px;
}
a:link{
    color:blue;
    text-decoration: none;
}

a:active{
    text-decoration: underline;
}


a:visited{
    color: pink
}
a:hover{
    color: red;
    text-decoration: underline;
}