body{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1280px-Image_created_with_a_mobile_phone.png");
    background-size: 20%;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}

ol{
    border: 2px solid white;
    color: white;
    margin: 10px;
}
a:link{
    color:blue;
    text-decoration: none;
}

a:active{
    text-decoration: underline;
}


a:visited{
    color: pink
}
a:hover{
    color: red;
    text-decoration: underline;
}